<h1>Calendar Fundraiser</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
  <div class="card green-gradient">
    <div class="flex flex-col">
      <div class="card-title text-green-200">TOTAL</div>
      <span class="text-3xl text-white font-extrabold font-mono mb-0.5">$<%= @total %></span>
    </div>
  </div>
</div>

<div class="flex flex-col">
  <ul class="divide-y divide-gray-300">
    <% @donations_by_person.sort.to_h.each do |person, donations| %>
      <li class="flex flex-col justify-between py-2">
        <div class="flex justify-between">
          <span class="text-primary font-medium"><%= person %></span>
          <small class="text-secondary"><%= donations.map(&:donation_date).sort.join(', ') %></small>
        </div>
        <span class="text-secondary">$<%= donations.sum(&:donation_date) %></span>
      </li>
    <% end %>
  </ul>
</div>
