!.keep
*.DS_Store
*.swo
*.swp
.byebug_history
/.bundle
/coverage/*
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/public/assets
/public/system
/tags
/tmp/*
.env
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite Ruby
/public/vite
/public/vite-dev
/public/vite-test
node_modules
*.local
.DS_Store

