<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p>You recently requested a password reset for your Cap City account.</p>
    <p>You can reset your password <a href="<%= @url %>">here</a>.</p>
    <p>Please reach out to an admin if you're still having any issues!</p>
  </body>
</html>