<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p>You have a new account on our member site! To set up your account, please reset your password <a href="<%= @url %>">here</a> using your email address.</p>
    <p>Thanks,</p>
    <p>Cap City</p>
  </body>
</html>
