<% content_for :main do %>
  <div class="row justify-content-center">
    <div class="col-6 card" style="margin-top: 200px;">
      <div class="card-body">
        <h3>Download Auditions Excel Sheet</h3>
        <br />
        <%= link_to 'Download', auditions_excel_path(format: :xlsx), { class: 'btn btn-outline-success' } %>
      </div>
    </div>
  </div>
<% end %>

  <div class="h-100 row align-items-center">
  <div class="col" style="background:red">
    TEXT
  </div>
</div>
</div>