<div class="flex flex-row justify-center">
  <div class="flex flex-col items-center w-200">
    <h2 class="text-green-500">LFG</h2>
    <br />
    <p class="text-secondary w-120 text-center">Done! Head on over to the Google sheet and check it out.</p>
  </div>
</div>
