<% content_for :main do %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12 text-center">
          <p class="lead text-muted">Conflict submission is currently disabled.  Please contact Dan, Aaron, and your section's coordinator if you have a conflict.</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
