<% content_for :styles do %>
  <%= stylesheet_link_tag 'users', media: 'all' %>
<% end %>

<% content_for :nav do %>
  <%= render 'nav' %>
<% end %>

<% content_for :main do %>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="white-text">New User</h1>
      </div>
      <div class="col-md-3 text-right">
        <a class="btn btn-info" href="<%= users_path %>">All Users</a>
      </div>
    </div>

    <%= render 'form', user: @user %>

  </div>
<% end %>