@use '@/stylesheets/variables' as *;

.iconBase {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.sizeSm {
  height: $space-4;
  width: $space-4;
}

.sizeMd {
  height: $space-5;
  width: $space-5;
}

.sizeLg {
  height: $space-6;
  width: $space-6;
}

.sizeXl {
  height: 2rem;
  width: 2rem;
}

.colorCurrent {
  color: currentColor;
}

.colorGray {
  color: $gray-500;
}

.colorWhite {
  color: white;
}

.colorBlack {
  color: black;
}
