<% content_for :nav do %>
  <%= render 'admin_nav' %>
<% end %>

<% content_for :main do %>
  <div class="container">
    <div class="row">
      <a href="/admin/users" class="col-md-6 col-lg-4 card red">
        <div class="card-body white-text">
          <h2>Users</h2>
        </div>
      </a>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  
<% end %>