<% content_for :styles do %>
  <%= stylesheet_link_tag 'home', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-12">
      <h1 class="white-text">Documents</h1>
    </div>
  </div>
  <div class="row">
    <div  class="col-12">
      <div class="card cap-gray-border">
        <div class="list-group list-group-flush">
          <% @documents.each do |doc| %>
            <a href="<%= "/pdf/#{doc}" %>" target="_blank" class="list-group-item list-group-item-action">
              <%= doc.split('.')[0...-1].join %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>        
<% end %>

