<% content_for :styles do %>
  <%= stylesheet_link_tag 'home', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-12">
      <h1 class="white-text">Activity Feed</h1>
    </div>
  </div>
  <div class="row">
    <div  class="col-12">
      <%= render 'activity_feed' %>
    </div>
  </div>        
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'vue/activity_feed' %>
<% end %>
