<% content_for :styles do %>
  <%= stylesheet_link_tag 'home', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a href="/conflicts" class="card mb-3 cap-red white-border">
          <div class="card-body white-hover-link white-text">
            <h2>Conflicts</h2>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="/payments" class="card mb-3 green white-border">
          <div class="card-body white-hover-link white-text">
            <h2>Payments</h2>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="/documents" class="card mb-3 cap-blue white-border">
          <div class="card-body white-hover-link white-text">
            <h2>Documents</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
<% end %>