<% content_for :side_nav do %>
  <%= render 'admin/application/side_nav', page: 'payments' %>
<% end %>

<% content_for :main do %>
  <div class="row mt-3">
    <div class="col-12" id="admin-payments-index">
      <admin-payments-index></admin-payments-index>
    </div>
  </div>
<% end %>
