<% content_for :side_nav do %>
  <%= render 'admin/application/side_nav', page: 'payments' %>
<% end %>

<% content_for :main do %>
  <div class="row mt-3">
    <div class="col-12">
      <payment-user-list v-bind:users="users" v-bind:payments="payments" v-bind:schedules="schedules" v-bind:nine-volts="nineVolts"></payment-user-list>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_pack_tag 'admin_payment_index' %>
<% end %>
