<script type="text/javascript">
  var members = <%= raw @members.to_json(only: [:id, :first_name, :last_name], methods: [:full_name]) %>;
  var paymentTypes = <%= raw PaymentType.all.to_json(only: [:id, :name]) %>;
  var preselectedUserId = <%= @payment.user_id || 'null' %>;
</script>

<%= vite_typescript_tag 'entrypoints/admin/payments/new.tsx' %>

<div id="root"></div>
