<% content_for :main do %>

  <%= vite_typescript_tag 'entrypoints/calendars/new.tsx' %>
  <div class="content">
    <h1>Error</h1>
    <p>
      We were unable to charge your card. Please <a class="text-gray-400 hover:text-gray-200 transition" href="/calendars/new">try again</a>, or <a class="text-gray-400 hover:text-gray-200 transition" href="https://www.capcitypercussion.com/contact">contact us</a> for more help.
    </p>
  </div>
<% end %>
