<% content_for :main do %>
  <div class="banner-container">
    <%= image_pack_tag 'full_logo_white.png' %>
  </div>

  <%= form_with url: '/calendars', method: :post, html: { id: 'form-container' } do |form| %>
    <calendar-picker
      :members="<%= @members %>"
    />
  <% end %>
<% end %>
