<% content_for :main do %>
  <div class="banner-container">
    <%= image_pack_tag 'full_logo_white.png' %>
  </div>

  <%= form_with url: '/calendars', method: :post, html: { id: 'form-container' } do |form| %>
    <calendar-donation-form
      :members="<%= @members %>"
    />
  <% end %>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    var stripe_public_key = '<%= @stripe_public_key %>';
  </script>
<% end %>