<% content_for :main do %>
  <div class="content">
    <h1>Success!</h1>
    <p>
      Thank you for helping support Cap City!
    </p>

    <div style="text-align: center; margin-top: 2rem">
      <a href="https://www.capcitypercussion.com">
        <button>Home</button>
      </a>
    </div>
  </div>
<% end %>
