<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</p>

    <% if !@donor_name.blank? %>
      <p>You've received a calendar donation from <%= @donor_name %>!</p>
    <% else %>
      <p>You've received a calendar donation!</p>
    <% end %>

    <P>This donation was for the following dates:</p>
    <ul>
      <% @donation_dates.each do |day| %>
        <li><%= day %></li>
      <% end %>
    </ul>

    <p>To view all your donations so far and download an image with the latest calendar, visit <%= members_calendars_url %>. If you have any questions, please reach out to Dan!</p>
  </body>
</html>