<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</p>
    <p>You've received a calendar donation! This donation was for <%= @donation_dates.join(', ') %>.</p>

    <% if !@donor_name.blank? %>
      <p>This donation was from <%= @donor_name %>.</p>
    <% end %>

    <p>Attached, you should find an image of the calendar with all your covered dates marked off. If there's anything wrong with the picture, please reach out to Dan!</p>
  </body>
</html>