<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Calendar downloaded by <%= @user_name %> on <%= Date.today %></p>
  </body>
</html>