@import "buttons";
@import "cards";
@import "flashes";
@import "forms";
@import "gradients";
@import "sidebar";
@import "typography";

@import 'flatpickr/dist/flatpickr.css';

body.bg-sound-wave {
  background: no-repeat url('../images/bg.svg');
  background-size: 100% 100%;
}

.form-control.flatpickr:read-only {
  background-color: transparent;
}
.form-control.flatpickr-dt:read-only {
  background-color: transparent;
}

#omni-bar {
  flex-grow: 1;
}

#omni-bar-results .highlighted {
  background-color: #f8f9fa;
}

#main-content {
  @apply
    md:flex-grow
    rounded-t-2xl
    md:rounded-tr-none
    mx-4
    md:mx-0
    p-6
    bg-white
    dark:bg-gray-900
    text-gray-900
    dark:text-white
  ;
}
