.btn-base {
  @apply
    cursor-pointer
    flex
    font-medium
    items-center
    justify-center
    rounded-md
    text-white
    transition
  ;
}

.btn-primary {
  @apply
    bg-ocean
    btn-base
    hover:bg-ocean-light
  ;
}

.btn-green {
  @apply
    bg-green-600
    btn-base
    hover:bg-green-500
  ;
}

.btn-red {
  @apply
    bg-red-600
    btn-base
    hover:bg-red-500
  ;
}

.btn-link {
  @apply
    cursor-pointer
    flex
    font-medium
    hover:text-gray-500
    items-center
    justify-center
    text-gray-900
    transition
  ;
}

.btn-lg {
  @apply
    px-4
    py-2
    text-lg
  ;
}

.btn-md {
  @apply
    px-2
    py-1
    text-md
  ;
}

.btn-sm {
  @apply
    px-1
    py-1
    text-sm
  ;
}