.btn-base {
  @apply cursor-pointer flex font-medium items-center justify-center rounded-md text-white transition w-full sm:w-auto;
}

.btn-primary {
  @apply bg-ocean btn-base hover:enabled:bg-ocean-light;
}

.btn-primary:disabled {
  opacity: 0.2;
}

.btn-green {
  @apply bg-green-600 btn-base hover:enabled:bg-green-500;
}

.btn-green:disabled {
  opacity: 0.2;
}

.btn-red {
  @apply bg-red-600 btn-base hover:enabled:bg-red-500;
}

.btn-red:disabled {
  opacity: 0.2;
}

.btn-gray {
  @apply bg-gray-600 btn-base hover:enabled:bg-gray-500;
}

.btn-gray:disabled {
  opacity: 0.2;
}

.btn-link {
  @apply cursor-pointer flex font-medium hover:enabled:text-gray-500 items-center justify-center text-gray-900 transition;
}

.btn-lg {
  @apply px-4 py-2 text-lg;
}

.btn-md {
  @apply px-2 py-1 text-md;
}

.btn-sm {
  @apply px-1 py-1 text-sm;
}
