@import 'bootstrap';
@import 'colors';

html {
  background-color: $cap-gray;
}

.banner-container {
  max-width: 42rem;
  padding: 0 1rem 0 1rem;
  margin: 0 auto;

  img {
    height: auto;
    max-width: 100%;
  }
}

.form-container {
  margin: 3rem auto;
  max-width: 42rem;
}
