.flash-bar {
  @apply
    absolute
    z-50
    bottom-0
    right-0
    w-full
    md:w-1/3
  ;
}

.flash-base {
  @apply
    flex
    flex-row
    items-center
    md:rounded-lg
    md:m-4
    p-4
    md:p-2
    bg-gradient-to-br
    text-white
    shadow-md
  ;
}

.flash-success {
  @apply
    flash-base
    from-lime-500
    to-teal-600
  ;
}

.flash-error {
  @apply
    flash-base
    from-red-400
    to-rose-600
  ;
}

.flash-info {
  @apply
    flash-base
    from-cyan-400
    to-violet-500
  ;
}

.flash-default {
  @apply
    flash-base
    from-blue-gray-400
    to-warm-gray-700
  ;
}
