#sidebar {
  @apply
    text-mint
    w-28
    flex
    bg-gray-900
    dark:bg-gray-800
    flex-col
    p-2
    fixed
    inset-y-0
    left-0
    md:relative
    transition
    z-40
  ;
}

.sidebar-logo {
  @apply
    hidden
    md:flex
    flex-col
    items-center
    py-2.5
    px-4
  ;
}

.sidebar-link {
  @apply
    block
    py-2.5
    px-4
    flex
    flex-col
    items-center
    space-y-2
    rounded
    transition
    hover:bg-gray-700
  ;
}