<div class="col-6">
  <h1 class="white-text">Payments</h1>
</div>
<div class="col-6 text-right">
  <%= link_to new_payment_path, class: 'btn btn-light green-text mt-1' do %>
    <span class="d-none d-sm-inline">New Payment</span>
    <span class="d-sm-none"><%= fa_icon 'plus' %></span>
  <% end %>
</div>