<% conflicts_list.each do |date, conflicts| %>
  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-header"><h4 class="mb-0"><%= date.strftime('%A, %B %d, %Y') %></h4></div>
        <div class="list-group list-group-flush">
          <% conflicts.each do |c| %>
            <%= render 'admin/conflicts/conflict_row', conflict: c %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>