<div class="row">
  <div class="col-12 text-right mb-3">
    <%= link_to new_admin_conflict_path, class: 'btn btn-light mt-1' do %>
      <span class="d-none d-sm-inline">New Conflict</span>
      <span class="d-sm-none"><i class="fas fa-plus"></i></span>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12" id="admin-conflicts-index">
    <admin-conflicts-index></admin-conflicts-index>
  </div>
</div>
