<% content_for :side_nav do %>
  <%= render 'admin/application/side_nav', page: 'conflicts' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-12 text-right mb-3">
      <%= link_to new_admin_conflict_path, class: 'btn btn-light mt-1' do %>
        <span class="d-none d-sm-inline">New Conflict</span>
        <span class="d-sm-none"><i class="fas fa-plus"></i></span>
      <% end %>
    </div>
  </div>

  <div id="pending-conflicts">
    <pending-conflicts v-bind:conflicts="conflicts" v-on:conflict-changed="getConflicts"></pending-conflicts>
  </div>

  <div class="row">
    <div  class="col-12">
      <div id="conflict-chart-wrapper" class="card">
        <conflict-chart v-bind:conflicts="conflicts"></conflict-chart>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_pack_tag 'admin_conflict_index' %>
<% end %>