<script>
  var fullName = "<%= @user.full_name %>";
  var scheduleId = <%= @schedule.id %>;
</script>

<%= vite_typescript_tag 'entrypoints/admin/payment_schedules/edit.tsx' %>

<div id="root"></div>
