<% content_for :side_nav do %>
  <%= render 'admin/application/side_nav', page: 'users' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-12 text-right mb-3">
      <a class="btn btn-light" href="<%= admin_users_path %>">Back to Users</a>
    </div>
  </div>
  <div id="payment-schedule">
    <payment-schedule v-bind:schedule-id="<%= @schedule.id %>" user-name="<%= @user.first_name %>"></payment-schedule>
  </div>
<% end %>
