<div class="row">
  <div class="col-12 d-flex justify-content-between">
    <h1>Edit Category</h1>
    <span><%= link_to 'Back', inventory_categories_path, class: 'btn btn-light' %></span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <%= render 'inventory/categories/form', category: @category %>
    </div>
  </div>
</div>
