@import 'bootstrap';
@import 'font-awesome';
@import 'colors';
@import 'select2';

* {
  transition: color 0.1s ease-in;
}

a:hover { text-decoration: none !important; }

.navbar.cap-gray {
  .nav-link { color: $gray-100 !important; }
  .nav-link:hover { color: $gray-500 !important; }
}

.white-hover-link:hover { color: $gray-300 !important; }

.flash-bar { width: 100%; }
.alert { border-radius: 0 !important; }

#top-space { height: 40px; }

.icon-btn { cursor: pointer; }
.icon-btn-red:hover { color: $red !important; }
.icon-btn-orange:hover { color: $orange !important; }
.icon-btn-green:hover { color: $green !important; }
.icon-btn-blue:hover { color: $blue !important; }

.show-hide-toggle:hover {
  cursor: pointer;
  color: $gray-500 !important;
}


@include media-breakpoint-up(xs) {
  .text-right-xs { text-align: right !important; }
}

@include media-breakpoint-up(sm) {
  .text-right-sm { text-align: right !important; }
}

@include media-breakpoint-up(md) {
  .text-right-md { text-align: right !important; }
}

@include media-breakpoint-up(lg) {
  .text-right-lg { text-align: right !important; }
}

@include media-breakpoint-up(xl) {
  .text-right-xl { text-align: right !important; }
}

/* BS Overrides */
.form-control.invalid { border-color: $red; }
.form-control:focus, .form-control.is-invalid:focus {
  border-color: $cap-gray;
  box-shadow: none;
}

.list-group-item-striped:nth-child(even) {
  background-color: $light !important;
}

input.btn:hover { cursor: pointer; }