@import 'application';

body {
  background-image: image-url('home_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #323337;
}

#behind-members {
  max-height: 330px;
  overflow-y: auto;
}

#upcoming-payments {
  max-height: 330px;
  overflow-y: auto;
}
