@import 'application';

body {
  background-image: image-url('payments_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #323337;
}

.StripeElement {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid $gray-400;
  border-radius: 0.25rem;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.StripeElement--focus { border-color: $cap-gray; }

#payment-submit-btn.btn-success { cursor: pointer; }


/* Member side styles */
.dues-bar-bg {
  overflow: visible;
}

.dues-bar {
  overflow: visible;
  border-radius: 0.25rem 0 0 0.25rem;
}

.dues-paid-label {
  position: relative;
  top: -100%;
}

.dues-owed-label {
  position: relative;
  top: -100%;
  float: right;
}