<% content_for :side_nav do %>
  <%= render 'admin/application/side_nav', page: 'users' %>
<% end %>

<% content_for :main do %>
  <div class="row mt-3">
    <div class="col-12" id="admin-users-index">
      <admin-users-index></admin-users-index>
    </div>
  </div>
<% end %>
