<% if status.name == 'Approved' %>
  <span class="badge badge-success white-text">
    <i class="far fa-check-circle mr-1"></i>Approved
  </span>
<% elsif status.name == 'Pending' %>
  <span class="badge badge-warning white-text">
    <i class="far fa-clock mr-1"></i>Pending
  </span>
<% elsif status.name == 'Denied' %>
  <span class="badge badge-danger white-text">
    <i class="far fa-times-circle mr-1"></i>Denied
  </span>
<% else %>
  <span class="badge badge-secondary white-text">
    <i class="far fa-dot-circle mr-1"></i>Resolved
  </span>
<% end %>
