<div class="card">
  <h5 class="card-header">
    Payment Schedule
    <% if admin %>
        <small class="float-right">
        <%= link_to admin_payment_schedule_path(member.payment_schedule_for(current_season['id'])) do %>
          <i class="fas fa-edit icon-btn icon-btn-orange dark-text"></i>
        <% end %>
      </small>
    <% end %>
  </h5>
  <ul class="list-group list-group-flush">
    <% member.payment_schedule_for(current_season['id']).entries.order(:pay_date).each do |entry| %>
      <li class="list-group-item d-flex justify-content-between">
        <span class="<%= 'text-muted' if entry.pay_date < Date.today %>">$<%= '%.2f' % (entry.amount / 100.0) %></span>
        <small class="text-muted"><%= entry.pay_date.strftime('%-m/%-d/%-y') %></small>
      </li>
    <% end %>
  </ul>
</div>
