<% conflicts_list.each do |date, conflicts| %>
  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <div class="card-header"><h4 class="mb-0"><%= date.strftime('%A, %B %d') %></h4></div>
        <div class="list-group list-group-flush">
          <% if current_user.is?(:admin) %>
            <% conflicts.each do |conflict| %>
              <%= render 'admin_conflict_row', conflict: conflict %>
            <% end %>
          <% elsif current_user.is?(:staff) %>
            <% conflicts.each do |conflict| %>
              <%= render 'staff_conflict_row', conflict: conflict %>
            <% end %>
          <% else %>
            <% conflicts.each do |conflict| %>
              <%= render 'member_conflict_row', conflict: conflict %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>