<div class="list-group-item">
  <div class="row">
    <div class="col-6 font-weight-light">
      <%= conflict.start_date.strftime('%a, %-m/%-d %I:%M %p') %> - <%= conflict.end_date.strftime('%a, %-m/%-d %I:%M %p') %>
    </div>
    <div class="col-6 text-right">
      <%= render 'conflict_status_icon', status: conflict.status %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 white px-5 py-1">
      <small class="text-muted"><%= conflict.reason %></small>
    </div>
  </div>
</div>