<% content_for :styles do %>
  <%= stylesheet_link_tag 'conflicts', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-md-9">
      <h1 class="white-text">Conflicts</h1>
    </div>
    <div class="col-md-3 text-right-md mb-1">
      <%= link_to 'New Conflict', new_conflict_path, class: 'btn btn-light red-text align-middle' %>
    </div>
  </div>

  <% unless @pending.empty? %>
    <%= render 'admin_pending_conflicts', pending: @pending %>
  <% end %>

  <% unless @conflicts_by_start_date.empty? %>
    <%= render 'conflicts_list', conflicts_list: @conflicts_by_start_date %>
  <% end %>
<% end %>

<% content_for :scripts do %>
<% end %>