<% content_for :styles do %>
  <%= stylesheet_link_tag 'conflicts', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-md-9">
      <h1 class="white-text">Add Conflict</h1>
    </div>
    <div class="col-md-3 text-right-md mb-1">
      <%= link_to 'All Conflicts', conflicts_path, class: 'btn btn-light red-text align-middle' %>
    </div>
  </div>
  <%= render 'admin_form', conflict: @conflict %>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#conflict_user_id").select2({ width: '100%' });
    });
  </script>
<% end %>