<% content_for :styles do %>
  <%= stylesheet_link_tag 'conflicts', media: 'all' %>
<% end %>

<% content_for :main do %>
  <div class="row">
    <%= render 'header' %>
  </div>

  <% unless @pending.empty? %>
    <%= render 'admin_pending_conflicts', pending: @pending %>
  <% end %>

  <% unless @conflicts_by_start_date.empty? %>
    <%= render 'conflicts_list', conflicts_list: @conflicts_by_start_date %>
  <% end %>
<% end %>

<% content_for :scripts do %>
<% end %>