<script type="text/javascript">
  var stripePublicKey = '<%= @stripe_public_key %>';
  var returnUrl = '<%= "#{root_url}members/payments/post_processing" %>';
</script>

<%= vite_typescript_tag 'entrypoints/members/payments/index.tsx' %>

<div id="payments"></div>
